{% extends 'base.html' %}

{% block content %}
<div class="container-sm p-3 my-3 border">
<center>
<h2>About Websiteip.net</h2>
  </center>
  <br>
  <h3>Websiteip.net is a free to use online tool that you can use to easily check the IP address of a website or any domain name. </h3>
  <br>
  <h3>The website does not collect any information from the users, such as IP addresses. We do however collect information about the websites that were checked.</h3>
  <br>
  <h4>Owned and created by Ionic Core Apps.</h4>
  </div>
{% endblock %}
